import(coda,
       numDeriv,
       mvtnorm)

export(B2ZM,
      B2ZM_SIR,
      B2ZM_IMIS,
      B2ZM_MCMC,
      B2ZM_BCLT)

S3method(print, summary.bclt)
S3method(print, summary.mcmc)
S3method(print, summary.imis)
S3method(print, summary.sir)
S3method(plot, bclt)
S3method(plot, mcmc)
S3method(plot, imis)
S3method(plot, sir)
S3method(summary, bclt)
S3method(summary, mcmc)
S3method(summary, imis)
S3method(summary, sir)



